In [30]:
import muyi.utils as muu
import pandas as pd

data=muu.read_csv_tqdm(path="electricity/electricity.csv", index_col="date")

  0%|          | 0/1 [00:00<?, ?it/s]

Importing: 1: 100%|██████████| 1/1 [00:01<00:00,  1.47s/it]

In [31]:
data.head()

,0,1,2,3,4,5,6,7,8,9,...,311,312,313,314,315,316,317,318,319,OT
date,,,,,,,,,,,,,,,,,,,,,
2016-07-01 02:00:00,14.0,69.0,234.0,415.0,215.0,1056.0,29.0,840.0,226.0,265.0,...,676.0,372.0,80100.0,4719.0,5002.0,48.0,38.0,1558.0,182.0,2162.0
2016-07-01 03:00:00,18.0,92.0,312.0,556.0,292.0,1363.0,29.0,1102.0,271.0,340.0,...,805.0,452.0,95200.0,4643.0,6617.0,65.0,47.0,2177.0,253.0,2835.0
2016-07-01 04:00:00,21.0,96.0,312.0,560.0,272.0,1240.0,29.0,1025.0,270.0,300.0,...,817.0,430.0,96600.0,4285.0,6571.0,64.0,43.0,2193.0,218.0,2764.0
2016-07-01 05:00:00,20.0,92.0,312.0,443.0,213.0,845.0,24.0,833.0,179.0,211.0,...,801.0,291.0,94500.0,4222.0,6365.0,65.0,39.0,1315.0,195.0,2735.0
2016-07-01 06:00:00,22.0,91.0,312.0,346.0,190.0,647.0,16.0,733.0,186.0,179.0,...,807.0,279.0,91300.0,4116.0,6298.0,75.0,40.0,1378.0,191.0,2721.0

In [32]:
feature_names = data.columns.tolist()
data["date"] = pd.to_datetime(data.index)
unique_months = data["date"].dt.to_period("M").unique()

unique_months

<PeriodArray>
['2016-07', '2016-08', '2016-09', '2016-10', '2016-11', '2016-12', '2017-01',
 '2017-02', '2017-03', '2017-04', '2017-05', '2017-06', '2017-07', '2017-08',
 '2017-09', '2017-10', '2017-11', '2017-12', '2018-01', '2018-02', '2018-03',
 '2018-04', '2018-05', '2018-06', '2018-07', '2018-08', '2018-09', '2018-10',
 '2018-11', '2018-12', '2019-01', '2019-02', '2019-03', '2019-04', '2019-05',
 '2019-06', '2019-07']
Length: 37, dtype: period[M]

In [ ]:
if(dataset=='Metr'):
    path = os.path.join('./data/metr_la/', 'metr_la.h5')
    data = pd.read_hdf(path)
    data = np.array(data)
    # data = data[:, :, None]
    data = data[:, :]
    missing_mask=get_missing_mask(data,mask_ratio)


elif(dataset=='PEMS'):
    path = os.path.join('./data/pems_bay/', 'pems_bay.h5')
    data = pd.read_hdf(path)
    data = np.array(data)
    # data = data[:, :, None]
    data = data[:, :]
    missing_mask = get_missing_mask(data, mask_ratio)